@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rubik+Vinyl&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.inicio {
    background: url(../img/fondo1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}
.inicio_contenedor {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 0 3rem;   
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: auto;
}
.logo  {
    padding: 1.4rem 0;
}
.logo a{
    display: block;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    font-family: 'Rubik Vinyl', cursive;
}
.lista {
    display: flex;
    list-style: none;
    align-items: center;
}
.item {
    margin: 0px 1rem;
    transition: all .5s ease;
}
.carrito {
    border: 0;
    width: 30px;
    background: transparent;
    margin-right: 1rem;
    cursor: pointer;
}
.carrito img {
    width: 100%;
}

.link {
    color: #000;
    display: block;
    transition: all .7s ease;
}
.item:hover {
    transform: scale(1.07);
}
.item:hover a{
    color: red;
}
.iconos_menu {
    font-size: 2.2rem;
    display: none;
}
.carrito_mob {
    border: 0;
    width: 40px;
    background: transparent;
    margin-right: 1.5rem;
    padding-top: 7px;
}

.carrito_mob img {
    width: 100%;
}
.fa-bars {
    position: relative;
    bottom: 5px;
}



.intro {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding-top: 120px;
}
.intro .title {
    font-size: 4rem;
    margin: 10px 0;
}
.intro .para{
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.5;
}
.intro .enla {
    margin: 20px 0;
    width: max-content;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 12px 20px;
    border-radius: 50px;
    transition: all .4s ease;
    font-weight: bold;
}
.intro .enla:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.imagen_inicio {
    width: 100%;
    height: 500px;
    display: none;
    text-align: center;
}
.imagen_inicio img {
    width: 70%;
    height: 70%;   
}



.header_mob {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .95);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    transition: all .7s ease;
}
.logo_mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
}
.logo_mob a {
    font-size: 2.7rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Rubik Vinyl', cursive;
}
.logo_mob i {
    font-size: 3rem;
    color: #fff;
}

.lista_mob {
    list-style: none;
    width: 80%;
    margin: auto;
}
.lista_mob .item_mob {
    margin: 25px 0;
}
.lista_mob .item_mob .link_mob {
    font-size: 1.8rem;
    color: #fff;
}




.disabled {
    display: none;
}













.products {
    max-width: 1400px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.products .products_title {
    margin: 15px 0;
    margin-bottom: 30px;
    font-size: 2.5rem;
    padding-bottom: 10px;
    position: relative;
}
.products .products_title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #000;
    width: 200px;
}
.cajas {
    display: flex;
    flex-direction: column;
}
.category_list {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.category_list .category_item {
    border: 0;
    width: max-content;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px;
    transition: all .7s ease;
    font-size: 1rem;
}
.category_list .category_item:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}
.category_list .ct_item-active {
    background: black;
    color: #fff;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products_list .product_item {
    width: 240px;
    display: flex;
    flex-direction: column;
    transition: all .4s ease;
    padding: 0px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
}
.products_list .product_item:hover {
    transform: scale(1.05);
}
.products_list .product_item .imagen {
    width: 100%;
    height: 50%;
}
.products_list .product_item .imagen img{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    object-fit: cover;
}
.products_list .product_item .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.products_list .product_item .contenedor .pago {
    display: flex;
    flex-direction: column;
}
.products_list .product_item .contenedor a{
    display: block;
    width: 100%;
    padding-bottom: 6px;
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
}
.products_list .product_item .contenedor .pago p {
    margin-bottom: 6px;
}
.products_list .product_item .contenedor .pago p span {
    font-size: 1.2rem;
}
.products_list .product_item .contenedor .pago .ic{
    color: #000;
}
.products_list .product_item .contenedor .iconos {
    text-align: center;
}
.products_list .product_item .contenedor .iconos a {
    border: 2px solid #000;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: all .4s ease;
    position: relative;
}
.products_list .product_item .contenedor .iconos a:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 1px 30px 5px;
}
.products_list .product_item .contenedor .iconos a i{
    width: 60%;
    position: absolute;
    top: 16%;
    right: 50%;
    transform: translate(50%, 50%);
}





.testimonios  {
    max-width: 1400px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
    position: relative;
}
.testimonios .owl-carousel {
    overflow: hidden;
    padding: 0 20px;
    margin: 0 -40px;
    padding-right: 40px;
}
.owl-carousel .owl-stage-outer {
    padding: 30px 50px;
    margin-left: -35px;
    width: calc(100% + 100px);
}
.owl-dots {
    margin-top: 50px;
    text-align: center;
}
.owl-dots button {
    background: #000 !important;
    width: 15px;
    height: 15px;
    border-radius: 26px;
    margin: 0 5px;
    transition: 0.3s;
}
.owl-dots button.active {
    width: 30px;
}

.contenedor_testimonios .titulos {
    position: relative;
    margin-bottom: 50px;
    padding: 10px 0;
}
.contenedor_testimonios .titulos ::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 3px;
    background: #000;
}
.contenedor_testimonios .titulos .h2 {
    font-size: 2.5rem;
    font-weight: 900;
}
.contenedor_testimonios .titulos .p{
    font-size: 1.2rem;
    padding-top: 15px;
    text-transform: capitalize;
}
.testi {
    border: 7px solid #000;
    text-align: center;
    border-radius: 45px;
    position: relative; 
}
.testi::before {
    content: '\f10d';
    position: absolute;
    font-family: FontAwesome;
    left: -35px;
    top: -35px;
    width: 126px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 80px;
}
.testi::after {
    content: '\f10e';
    position: absolute;
    font-family: FontAwesome;
    right: -35px;
    border-radius: 50%;
    bottom: -35px;
    background: #fff;
    width: 126px;
    height: 100px;
    color: #000;
    font-size: 80px;
}
.testi p {
    font-size: 1.1rem;
    line-height: 24px;
    padding: 50px;
    padding-bottom: 30px;
    position: relative;
}

.info_cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 50px;
}
.info_cliente .detalles_clientes h6{
    font-size: 1.2rem;
    font-weight: 700;
}
.info_cliente .detalles_clientes span{
    display: inline-block;
    font-size: 14px;
}
.info_cliente .cliente {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
}
.info_cliente .cliente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.destacados{
    max-width: 1400px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.title_desta {
    font-size: 2.5rem;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 70px;
}
.title_desta::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #000;
}
.caja_desta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0;
}
.item_desta {
    width: 260px;
    margin: 10px;
    padding: 20px;
}
.item_desta .icon  {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.item_desta .descri_desta {
    font-size: 1.2rem;
    margin-top: 30px;
}
.item_desta .text_desta {
    margin: 10px 0;
}


.contacto {
    max-width: 1400px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.title_contacto {
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 50px;
}
.title_contacto::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #000;
}
.contenedor_contacto {
    display: flex;
    width: 100%;
    height: 400px;
}
.contenedor_contacto .conte-imagen {
    width: 50%;
    height: 100%;
}
.contenedor_contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor_contacto form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px;
}
.contenedor_contacto form input, textarea {
    border: 0;
    padding: 20px;
    border-bottom: 2px solid rgb(192, 192, 192);   
    margin: 5px 0;
    width: 100%;
}
.contenedor_contacto form input::placeholder{
    color: rgb(153, 153, 153);
}
.contenedor_contacto form textarea::placeholder {
    color: rgb(153, 153, 153);
}
.boton1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.boton {
    border: 0;
    width: max-content;
    background: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
}


.pie {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(to left, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(../img/fondo1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1800px;
    margin: auto;
}
.pies_arriba {
    position: absolute;
    top: 0;
    left: 49%;
    transform: translate(0%, -50%);
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
.pies_arriba i {
    position: relative;
    top: 25%;
    color: #fff;
    font-size: 1.4rem;
}
.contenedor_pie {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo_pie{
    margin: 20px;
}
.contenedor_pie .logo_pie .loguito{
    font-size: 2.5rem;
    font-family: 'Rubik Vinyl', cursive;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.contenedor_pie .listas_p {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}
.listas_pie {
    list-style: none;
    margin: 20px;
}
.listas_pie .h4 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.listas_pie .h4 i {
    margin-right: 5px;
}
.listas_pie li {
    margin: 6px 0;
    font-size: 0.8rem;
    color: rgb(192, 192, 192);
    text-align: center;
}
.listas_pie li:hover {
    color: #fff;
}
.listas_pie li a{
    color: rgb(192, 192, 192);
    font-size: 0.8rem;
}
.listas_pie li a:hover {
    color: #fff;
}
.contac_pie {
    margin: 20px;    
    width: 250px;
}
.contac_pie .location{
    color: #fff;
    margin: 20px 0;
    margin-bottom: 30px;
}
.contac_pie .location p{
    margin: 8px 0;
}
.contac_pie .location p i{
    margin-right: 5px;
}
.contac_pie .redes {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.contac_pie .redes i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all .7s ease;
    margin-right: 15px;
    margin-top: 10px;
}
.contac_pie .redes i:hover {
    transform: scale(1.05);
}
.contac_pie .contac_in {
    display: flex;
}
.contac_pie .contac_in input {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 85%;
}
.contac_pie .contac_in i {
    color: #fff;
    padding:10px;
    border: 0;
    margin-left: 2px;
    transition: all .7s ease;
    border-radius: 10px;
}
.contac_pie .contac_in i:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
.pie .creditos {
    color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.pie .creditos p {
    margin: 10px;
}
.pie .creditos p a {
    font-size: 1.1rem;
    color: #F08080;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    transition: all .7s ease;
}
.pie .creditos p a:hover{
    color: #fff;
    border-bottom: 2px solid #F08080;
}

@media screen and (max-width:860px) {
    .contac_pie {
        margin: 20px; 
        width: 50%;
    }
}
@media screen and (max-width:800px) {
    .inicio {
        background: #fff;
        height: auto;
    }
    .header {
        padding: 0.2rem 1rem; 
    }
    .nav_desktop {
        display: none;
    }
    .iconos_menu {
        display: block;
    }
    .imagen_inicio {
        display: block;
        height: 600px;
    }

    .owl-carousel {
        width: 110%;
    }
    .testi p {
        padding: 20px;
    }
    .testi::before {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }
    .testi::after {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }
    
    .contenedor_contacto {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .contenedor_contacto .conte-imagen {
        width: 100%;
    }
    .contenedor_contacto form {
        width: 100%;
        margin-top: 20px;
    }
    .boton1 {
        margin-top: 20px;
    }
    .pies_arriba {
        position: absolute;
        top: 0;
        left: 45%;
        transform: translate(0%, -50%);
    }
}
@media screen and (max-width:551px) {
    .imagen_inicio {
        height: 500px;
    }

    .contenedor_pie {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contenedor_pie .listas_p {
        display: flex;
        justify-content: left;
        flex-direction: column;
        margin-left: 0;
    }
    .contac_pie {
        margin-left: 0;
        width: 90%;
    }
    .contac_pie .redes i {
        margin: 10px;
    }
    .contac_pie .contac_in input {
        padding: 20px 10px;
    }
    .contac_pie .contac_in i {
        padding: 20px;
    }
}
@media screen and (max-width:412px) {  
    .owl-carousel {
        width: 115%;
        margin: 0;
        padding: 0;
    }
    .owl-carousel .owl-stage-outer {
      margin-left: -25px;  
    } 
    .info_cliente {
        padding: 20px;
        padding-top: 0;
    }
}
@media screen and (max-width:280px) {
    .inicio {
        height: auto;
    }
    .imagen_inicio {
        width: 100%;
        height: 300px;
    }
}
